body {
    font-family: Arial, sans-serif;
    background-image: url('./img/b1bdc1ae539dcbd1a7c33cef3e5f2d9a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
}

h1 {
    text-align: center;
    color: rgb(184, 183, 183);
}

#topBar{

    
}

#bottomBar {
    box-sizing: border-box;
    padding: 30px 30px;
    width: 90%;
    margin: -5px;
}

#messageBox {
    background-color: #222;
	padding: 10px;
	overflow-y: scroll;
	height: 200px;
    border-radius: 10px;
    margin: 20px;
    font-size: 14px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 20px;
	text-align: center;
	max-width: 800px;
    font-weight: bold;
    margin: 10px auto;
}



#gameContent {
    min-height: 200px;
}


#buttons{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px 10px;
    align-items: center;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: rgba(46, 46, 46, 0.8);
    


}

#buttonsBottom {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px 10px;
    align-items: center;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: rgba(46, 46, 46, 0.8);
    
}

button {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #504f4f;
    color: #c7c4c4;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-weight: bold;
    width: 50px; 
    height: 50px; 
    font-size: 10px;
    
}

.hidden {
   display: none;
}

.clicked {
   background-color: #999 !important;
}

@media (min-width: 600px) {
   body {
       font-size: 18px;
   }
}

@media (max-width: 599px) {
   body {
       font-size: 16px;
   }
}

#profile {
   margin-right:auto; 
   
}

#profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerName {
    text-align: center;
    width: 64px;
    margin-top: 3px;
    background-image: linear-gradient(to right, rgb(6, 251, 251), rgb(255, 255, 255), rgb(0, 255, 242), rgb(255, 255, 255));
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-weight: bold;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px rgba(238, 235, 235, 0.5);
    box-shadow: 2px 2px rgba(0,0,0,0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    

}

#profilePic {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: contain;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px rgba(238, 235, 235, 0.5);
    box-shadow: 2px 2px rgba(0,0,0,0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    
}

#skillsMenu {
   position: relative;
}

#skillOptions {
   position: absolute;
   top: 100%;
   left: 0;
   background-color: rgba(0, 0, 0, 0.7);
   padding: 10px;
   border-radius: 5px;
}

#bottomBar {
   position: fixed;
   bottom: 0;
   width:100%;
}
