body {
    font-family: Arial, sans-serif;
    background-image: url('./img/b1bdc1ae539dcbd1a7c33cef3e5f2d9a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
}

h1 {
    text-align: center;
    color: rgb(184, 183, 183);
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3f3f3f;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#profile {
    display: flex;
    align-items: center;
}

#profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerName {
    text-align: center;
    width: 64px;
    margin-top: 3px;
    background-image: linear-gradient(to right, rgb(6, 251, 251), rgb(255, 255, 255), rgb(0, 255, 242), rgb(255, 255, 255));
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Adicione esta linha */
    font-weight: bold; /* Adicione esta linha */
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px rgba(238, 235, 235, 0.5);
    box-shadow: 2px 2px rgba(0,0,0,0.5); /* Adicione esta linha */
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;


}

#profilePic {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: contain;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px rgba(238, 235, 235, 0.5);
    box-shadow: 2px 2px rgba(0,0,0,0.5); /* Adicione esta linha */
    border: 2px solid rgba(255, 255, 255, 0.5);
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 10px;
    background-color: #444;
}

#skillsMenu {
   position: relative;
}

#skillOptions {
   position: absolute;
   top: 100%;
   left: 0;
   background-color: rgba(0, 0, 0, 0.7);
   padding: 10px;
   border-radius: 5px;
}

button {
    padding: 5px 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #666;
    color: #d8d7d7;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-weight: bold;
}

 
 

.hidden {
   display: none;
}

.clicked {
   background-color: #999 !important;
}

/* CSS for larger screens */
@media (min-width: 600px) {
   body {
       font-size: 18px;
   }
}

/* CSS for smaller screens */
@media (max-width: 599px) {
   body {
       font-size: 16px;
   }
}
